@import "tailwindcss";
@font-face {
  font-family: Onest;
  src: url(/Onest-VariableFont_wght.ttf);
}

@theme {
  --color-background: #070707;
  --color-app: #0C0C0C;
  --color-base: #006AFF;
  --color-danger: #FF3D3D;
  --color-warning: #FFAE00;
  --color-success: #298B33;
}

* {
  font-family: "Onest", sans-serif;
}

.bg {
  background-image: url("/authbg.png");
}

body {
  scrollbar-width: 'none';
  scrollbar-color: '#4B5563 #1F293700', 
}

.inner {
  box-shadow: inset 0 -2px 4px #00000063, inset 0 3px 6px #ffffff50;
}